@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-Italic-VariableFont_wght.ttf");
  font-style: italic;
}

@layer base {
  :root {
    --color-purple: 167 41 245;
    --color-pure-white: 255 255 255;
  }

  * {
    @apply transition-colors duration-200 font-rubik
  }
}

@layer components {
  .button {
    @apply bg-purple md:h-auto md:p-8 md:text-2.5xl shadow text-pure-white text-lg not-italic h-14 leading-full p-3 flex justify-center items-center gap-2 self-stretch rounded-2xl hover:bg-gradient-to-b hover:from-pure-white/50 hover:to-pure-white/50 hover:cursor-pointer;
  }
}
